<body>
    <h1>Welcome</h1>
<div class="card" *ngIf="log.user">
    <img class="card-img-top img-responsive photo"
            src="{{ log.user.photoUrl }}">
    
    
    <div class="card-block">
        <h4 class="card-title">{{ log.user.name }}</h4>
        <p class="card-text">{{ log.user.email }}</p>
    </div>
    <div class="card-block">
        <button class="btn btn-danger" (click)="log.signOut()">Sign Out</button>
    </div>
</div>
<app-login #log></app-login>
<div class="skill">
    <h2>Skills</h2>
    <br/>
    <div class="addskill">Angular</div>
    <br/>
    <div class="addskill">Java</div>
    <br/>
    <div class="addskill">Spring</div>
</div>

<div class="rightside">
    <b><h2 class="hist">History</h2></b>
</div>
</body>

    
